# Archivos temporales de Office (se crean al tener un documento abierto)
~$*.docx
~$*.xlsx
~$*.pptx
*.tmp

# Windows
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store

# Copias de respaldo de draw.io
*.drawio.bkp
*.drawio.dtmp
